<a href="https://colab.research.google.com/github/HonestHabin/DL23/blob/main/DL/DLW02d_230329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# üìó Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ **operators**
+ **data types: list and dictionary**

üìù 
(-, + ÎëòÎã§ Í∞ÄÎä•)

Your github IDs [here](https://docs.google.com/spreadsheets/d/17SX51lCqOdtvC7cAGoX5tP9fKwVdGY5sRzMg2pXh9uk/edit#gid=0) - revised 0327

## [1] Variables (Î≥ÄÏàò)

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [1]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

‚ÜóÔ∏è In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [2]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

üìù url, data Î≥ÄÏàòÏùò Ïù¥Î¶Ñ (ÎßàÏùåÎåÄÎ°ú ÏßÄÏ†ïÍ∞ÄÎä•Îä•)

## Commenting '#'

- In Python, the # symbol is used to indicate comment lines. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

## Uncommenting shortcut: 
* "Ctrl + /" (Place the cursor on the code line and press the Control + / key.)

üìù#Ïù¥ ÎßéÏïÑÏßà ÏàòÎ°ù Í∏ÄÏûêÍ∞Ä ÏûëÏïÑÏßê.

In [3]:
# This is a comment in Python
x = 10 # this is also a comment

In [11]:
x1 = x * 10
x2 = x + 5

print(x1) # Print the value of x1
print(x1, x2) # Print the values of x1 and x2

üìù ÏßÄÏ†ï Í∞íÏùÑ Î≥¥Í≥† Ïã∂ÏúºÎ©¥ 'print' ÏûÖÎ†•, Ïïà Ïì∞Í≤å ÎêòÎ©¥ ÎßàÏßÄÎßâ Í≤∞Í≥ºÍ∞íÎßå Î≥¥Ïó¨Ï§å

"# Îã®Ï∂ïÍ∏∞ : ctrl+/"

In [14]:
print(y, z)
y1 = y + "Welcome to the class."
z1 = z + [3,2,1]
 
print(y1, z1)

Hello, class! [1, 2, 3]
Hello, class!Welcome to the class. [1, 2, 3, 3, 2, 1]

Input types:

* integer(Ï†ïÏàò): e.g., -3, 1, 0, 234, etc.
* float(ÏÜåÏàò): e.g., -3.0, 1.2, 0, 3.141592653589793238, etc.
* string(Î¨∏Ïûê): (characters) "1", '0', "3.29", "Mary", "euphoria", 'My name is Jane.'

_Note:_ double or single quotation marks denote **string** data. (Open and close should match.)

In [15]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1)

4
13

In [16]:
type(z)

int

üìù zÏùò ÌÉÄÏûÖÏù¥ integerÏù¥Îã§. ÎùºÎäî Îúª

In [17]:
type(z1)

str

In [18]:
print(type(z), type(z1))

<class 'int'> <class 'str'>

## [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)
2. semicolon ';' - separate multiple statements (code lines) on a single line.

In [19]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [20]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

In [21]:
print("The value of a1:", a1)

The value of a1: 7

# üå± Define a function

Demo üî¢ Calculator

In [23]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [32]:
add(2003, 23)
divide (9,3)
subtract (2023,2003)

20

üìù subtract ÎπºÍ∏∞

 ':'=

Ïã§Ìñâ Îã®Ï∂ïÌÇ§ 'ctrl+enter'

In [24]:
# DIY: define a function names switch(x, y), where the input x, y changes its position in the output.

In [31]:
# Test

# add(2,3)
subtract(3,2)
# multiply(2,3)
# divide(3,2)

1

## Using dropbox format

In [34]:
!pip install gTTS

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gTTS
  Downloading gTTS-2.3.1-py3-none-any.whl (28 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.9/dist-packages (from gTTS) (2.27.1)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.9/dist-packages (from gTTS) (8.1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gTTS) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gTTS) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gTTS) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gTTS) (1.26.15)
Installing collected packages: gTTS
Successfully installed gTTS-2.3.1

In [36]:
from gtts import gTTS
from IPython.display import Audio

In [38]:
def tts(text):
  gtts_object = gTTS(text,lang = "en", slow = True)
  gtts_object.save("myaudio.mp3")
  return Audio("myaudio.mp3")

üìù ÏúÑÏóê ÏΩîÎìú 3Í∞úÎäî tts Ï†ïÏùòÌïòÎäî ÏΩîÎìúÎì§

In [39]:
func = "multiply" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

print(text)
tts(text)
Audio("myaudio.mp3")

Type two numbers: (e.g., 3,4)4,7
If you subtract 7 from 4, you get -3.

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# üìóTopic [3] Data types: number, string, list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

In [40]:
a1 = 3   # a1 is integer
a2 = 3.0 # a2 is float
a3 = "3" # a3 is string

type(a1); type(a2); type(a3)
# print(type(a1), type(a2), type(a3))

str

list and index (0, 1, 2,...)

In [41]:
a = [1, "Mary", 4, "John"]  # This is a list.
print(type(a))

# a+a

<class 'list'>

* index: Python index starts from '0'

e.g., a = [1, 2, 3, 4]

In [51]:
# a[0]
# type(a[0])
# type(a[1])
# a[0] + a[2]
# a[0] + a[1]

üìù int+str=error

ÌååÏù¥Ïç¨, 0Î∂ÄÌÑ∞ ÏÖà

[Github accounts](https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_github.csv)



---
# The End